:root {
    --fontFam: monospace;
    --fontColor: white;
}

* {
    font-family: var(--fontFam);
    color: var(--fontColor);
    user-select: none;
}

body {
    margin: 0;
    background-color: black;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flexStart * {
    padding-left: 1rem;
}
.hidden {
    visibility: hidden;
    z-index: -1;
}

.blink {
    transition-property: all;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#startOverlay {
    inset: 0;
    width: 100vw;
    height: 100vh;
}

#next {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#discover {
    position: absolute;
    top: 3rem;
    left: 1rem;
}

#clickOverlay {
    inset: 0;
    width: 100vw;
    height: 100vh;
}

#planetInfo {
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%;
    overflow: scroll;
}

#planetInfo * {
    margin: 0.5rem 1rem;
    text-align: justify;
}

#instructions {
    width: auto;
    margin-left: 1rem;
    background-color: transparent;
    font-size: small;
}

button {
    text-align: center;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    z-index: 1;
    margin: 1rem;
}

button:hover {
    background-color: var(--fontColor);
    color: black;
    transition: all;
    transition-duration: 0.5s;
    font-size: clamp(0.5rem, 5vw, 1rem);
}

button:focus {
    outline: none;
}

#pressEnter {
    margin: 0.5rem 1.5rem;
}

#switchModeButton {
    font-size: small;
    margin: 0;
}
#buttons {
    background-color: transparent;
}

footer {
    background-color: transparent;
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    z-index: 1;
}

@media only screen and (max-width: 400px) {
    #planetInfo {
        left: 50%;
    }
    #planetInfo * {
        margin-left: 0.1rem;
    }
    button {
        display: block;
    }
}
